.csWizard {
  .allianzTargetGroupWizard__container {
    margin: 0 auto;
    max-width: 80rem;
    // 5 rem because we have only a single select in a big widget. So a little bit more space above looks better
    padding: 5rem 1.5rem 2rem;

    .image__item {
      margin-top: 1rem;
      max-width: 50%;
    }
  }
}